extends layout
//- block vars
 //- - var title = "Adda-Home"
block content
 div
  center
   h1 Online-Auction
   <hr></hr>
   div(class="user") Auction Bidder(User)
    | &nbsp;
    a(href='/userRegistration') Registration
    | &nbsp;....
    a(href='/userLogin') userLogin
   div(class="admin") Auction Master(Admin)
    | &nbsp;
    a(href='/adminLogin') Login
    if msg
     p MSG: #{msg}
  br
  <hr></hr>
  h2 AUCTIONS LIST
  table(cellpadding=5 border='1')
      tr
        th ItemName
        th Date
        th Status
      tr
      each topic in topics
        tr
          td 
           a(href='/itemDescription/#{topic.id}') #{topic.name}
          td #{topic.date}
          td #{topic.status}
