extends layout
block content
 div
  center
   h1 Item - Details
 table(cellpadding=5 border='1')
   hr 
   br
  tr 
   td Name :
   td #{allDetail.name}
  tr
   td Description :
   td #{allDetail.description}
  tr
   td Date :
   td #{allDetail.date}
  tr
   td BasePrice :
   td #{allDetail.base_price}
  tr
   td status :
   td #{allDetail.status}
 br
 form(action="/registerAuction/#{allDetail.id}")
  input(type="submit" value="Register for Auction")


