extends layout
block vars
 - var title = 'itemDesc'

block content
 div
  center
   h1 Item - Details
 table(cellpadding=5)
  tr 
   th Name :
   td #{allDetail.name}
  tr
   th Description :
   td #{allDetail.description}
  tr
   th Date :
   td #{allDetail.date}
  tr
   th BasePrice :
   td #{allDetail.base_price}
  tr
   th status :
   td #{allDetail.status}
  tr
