block vars
doctype html
html
  head
    title userDashboard #{title}
    link(rel='stylesheet', href="/stylesheets/style.css")
    h1(style = "text-align: center;") Online-Auction
    a(href='/') Home

    div(class="topbar" align='right')  #{userName}
      |&nbsp;... 
      a(href='/userLogin') Logout
      hr
    block scripts
 div
  h4 List of Auctions you joined
  if itemsDetails!=undefined
   ul
   table(cellpadding = 2 border= 1)
    tr
      th ItemID
      th ItemName
      th ItemDescription
      th Auction Date
      th Base Price
      th Status
    each item in itemsDetails
     tr 
     each val,key in item
       if(val)
        td
         if val == "running" && (key == "status" )
          a(href='/auction/#{item.id}') Play Auction
         else
          |#{val}
 div
  h4 AUCTIONS LIST
  table(cellpadding=5 border='1')
      tr
        th ItemName
        th Auction Date
        th Status
      tr
      each topic in topics
        tr
          td 
           a(href='/itemDescription/#{topic.id}') #{topic.name}
          td #{topic.date}
          td #{topic.status}      