block vars
doctype html
html
  head
    title userDashboard #{title}
    link(rel='stylesheet', href="/stylesheets/style.css")
    h1(style = "text-align: center;") Online-Auction
    a(href='/adminDashboard') Home

    div(class="topbar" align='right') admin
      |&nbsp;... 
      a(href='/home') Logout
      hr
    block scripts
 h1 
  i Upcoming Auction
 table(cellpadding=5)
      tr
        th ItemName
        th Date
        th Status
        th Description
      tr
      each topic in upcomingAuction
        tr
          td #{topic.name}
          td #{topic.date}
          td #{topic.status}
          td #{topic.description}
